<div class="chatroomContainer">
  <div class="row" id="messageArea">
    <div class="col-md-4">
      <div class="well">
        <h3>Chat Room</h3>
        <ul class="list-group" id="users"></ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat" id="chat">
        <div id="transcript" class=""></div>
        <form id="messageForm">
          <div class="form-group">
            <textarea class="form-control" id="message" placeholder="Enter message"></textarea>
            <input type="submit" class="sendMessage" value="&#xf1d8;">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>


<script type="text/javascript">
// function startChat(){
//
//   var socket = io.connect();
//   //socket = io();
//   var messageForm = $('#messageForm');
//   var message = $('#message');
//   var chat = $('#chat');
//   var users = $('#users');
//
//   messageForm.submit(function(e){
//     e.preventDefault();
//     socket.emit('send message', message.val());
//     message.val('');
//   });
//
//   socket.on('new message', function(data){
//     chat.append('<div class="well"><strong>'+ data.user +': </strong>'+ data.msg + '</div>');
//   });
//
//   socket.on('get users', function(data){
//     var html = ''
//     for (var i = 0; i < data.length; i++){
//       html += '<li class="list-group-item">'+ data[i] +'</li>'
//     }
//     users.html(html);
//   })
// }
//
// function login(){
//   socket.on('loggedin', true);
// }
//
function updateTranscript(result) {
  $("#transcript").empty();
  for (var i = 0; i < result.length; i++) {
    $("#transcript").append("<p><strong>" +  result[i].userName +":</strong>   " +  result[i].messageText + "</p>");
  }
}
$(document).ready(function() {
  $.get('/messages/', function(result){
    console.log(result);
    updateTranscript(result);
  });
  var socket = io('//localhost:3000');
  socket.on('socketTest', function (data) {
    console.log(data);
  });
  $(document).on("submit", "#messageForm", function(e){
    e.preventDefault();
    var message = {};
    message.messageText = $("#message").val().trim();
    $.post('/messages/message', message, function(result){
      console.log("squack!");
    });
    //socket.emit('send message', message.val());
    $("#message").val('');
  });
  socket.on('refreshMessages', function(data){
    console.log("Message written to db.");
    $.get('/messages/', function(result){
      console.log(result);
      updateTranscript(result);
    });
  });
  // console.log( "ready!" );
  // startChat();
  // //socket.emit('new user', 'fetch group members');
  // login();
  //
  // $("#logoff").on("click", function(){
  //   $.get("/messages/logoff", function(response){
  //     console.log("logged off");
  //   });
  // });
});
</script>
