<form onsubmit='return submit()' method="post">
    <div>
        <label for="groupName">Group Name:</label>
        <input type="text" id="groupName" name="groupName">
    </div>
    <div>
        <label for="groupDescription">Group Description:</label>
        <input type="text" id="groupDescription" name="groupDescription">
    </div>
</form>

<script src="./javascripts/logic.js"></script>