
<div class="containerTitle">
  <div class="isoLogo">
    <img id="logo" src="../assets/kalenaLogo.png">
  </div>
  <div class="homeButtons">
    <button class="btn" type="button" name="button" id="logIn">LOG IN</button>
    <br>
    <button class="btn" type="button" name="button" id="signUp">SIGN UP</button>
  </div>

  <form class="logInForm">
    <img class="logoAlone" src="../assets/kalenaLogoAlone.png">
    <h1>LOG IN</h1>
    <div class="loginInputs">
      <div>
        <label for="loginInputEmail">Email address</label><br>
        <input type="email" class="form-control" id="logInEmail">
      </div>
      <div class="form-group">
        <label for="loginInputPassword">Password</label><br>
        <input type="password" class="form-control" id="logInPassword">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="logInSubmit">Submit</button>
  </form>

  <form class="signUpForm">
    <img class="logoAlone" src="../assets/kalenaLogoAlone.png">
    <h1>SIGN UP</h1>
    <div id="firstName">
      <label for="signinInputFirstName">First Name</label><br>
      <input type="text" class="form-control" id="signUpFirstName">
    </div>
    <div id="lastName">
      <label for="signinInputLastName">Last Name</label><br>
      <input type="text" class="form-control" id="signUpLastName">
    </div>
    <div>
      <label for="signinInputEmail">Email address</label><br>
      <input type="email" class="form-control" id="signUpEmail">
    </div>
    <div class="form-group">
      <label for="signinInputPassword">Password</label><br>
      <input type="password" class="form-control" id="signUpPassword">
    </div>
    <div>
      <label for="signinInputPhone">Phone Number</label><br>
      <input type="tel" class="form-control" id="signUpPhone">
    </div>
    <button type="submit" class="btn btn-primary" id="signInSubmit">Submit</button>
  </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

$(".logInForm").hide();
$(".signUpForm").hide();

$("#logIn").click(function(){
  $(".homeButtons").hide();
  $(".isoLogo").hide();
  $(".logInForm").show();
});

$("#signUp").click(function(){
  $(".homeButtons").hide();
  $(".isoLogo").hide();
  $(".signUpForm").show();
});




</script>
