
<div class="containerTitle">
  <div class="isoLogo">
    <img id="logo" src="../assets/kalenaLogo.png">
  </div>
  <div class="homeButtons">
    <button class="btn" type="button" name="button">Create calendar</button>
    <br>
    <button class="btn" type="button" name="button">View calendars</button>
  </div>


</div>
