/*Global styling
================================================================================*/
a {
  color: inherit;
  cursor: auto;
  text-decoration: none;
}

p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
  position: relative;
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: white;
  background-image: url("../assets/backgroundPic.jpg");
  background-size: cover;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: "Roboto";
  font-weight: 100;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: #4897D8;
  text-transform: uppercase;
  transition: 0.5s;
  cursor:pointer;
}

button:hover {
  color: white;
  background-color:#71a8d6;
}

button:focus{
  outline: none;
  color:white;
}

label {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #3d3f33;
  font-size: 14px;
  padding:10px 10px 20px 0px;
}

input {
  border: none;
  border-bottom: 1px solid #3d3f33;
  width: 300px;
  font-family: "Roboto";
  font-weight: 100;
  color: #3d3f33;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}

form {
  padding: 25px;
}

h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

textarea {
  border: none;
  border-bottom: 1px solid #3d3f33;
  width: 300px;
  font-family: "Roboto";
  font-weight: 100;
  color: #3d3f33;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}




/* Index styling
================================================================================*/

.containerTitle {
  margin: 0 auto;
  margin-top: 3.2%;
  position: relative;
  height: 80%;
  width: 60%;
  background-color: white;
  align-items: center;
  align-self: center;
  align-content: center;
}

.homeButtons {
  padding-bottom: 45px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 6px;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 300px;
  margin: -3px;
}

#logo {
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 300px;
  width: auto;
}

.logInForm {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}

.logInForm h1 {
  margin: 10px 0;
  font-family: "Saira Extra Condensed";
  font-weight: 800;
  font-size: 3.6em;
}

.signUpForm h1 {
  margin: 10px 0;
  font-family: "Saira Extra Condensed";
  font-weight: 800;
  font-size: 3.6em;
}

.signUpForm {
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: column wrap;
   flex-flow: column wrap;
   -webkit-align-content: center;
   align-content: center;
}

.signUpForm input {
  width: 200px;
}

.logoAlone {
  position: relative;
  padding: 5px 20px 20px 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  width: 120px;
}

#logInSubmit {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 25px;
}





/* New Calendar styling
================================================================================*/

.usersCalendarsContainer {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  height: 500px;
  width: 900px;
  background-color: white;
  align-items: center;
  align-self: center;
  align-content: center;
}

.currentCalendars {
  margin: 20px;
  padding: 20px;
  position: relative;
  min-width: 190px;
  background-color: #cccccc;
  height: 100px;
  color: white;
  transition: 0.5s;
  cursor:pointer;
}

.currentCalendars:hover {
  background-color: #FA6E59;
}

.pendingCalendars {
  margin: 20px;
  padding: 20px;
  position: relative;
  min-width: 190px;
  background-color: #cccccc;
  height: 50px;
  color: white;
  transition: 0.5s;
  cursor:pointer;
}

.currentCalendars:hover {
  background-color: #FA6E59;
}

.pendingCalendars:hover {
  background-color:  #4897D8;
}

.yesCal, .pendCal {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  overflow-x: scroll;
    overflow-y: hidden;
}

.usersCalendarsContainer h1 {
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.usersCalendarsContainer h2 {
  text-transform: uppercase;
  margin: 0 auto;
}

.hvr-bounce-in {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#addCal {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.newCalendarContainer {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  height: auto;
  width: 900px;
  background-color: white;
  align-items: center;
  align-self: center;
  align-content: center;
}

.newCalendarContainer h1 {
  font-size: 40px;
  font-weight: 250;
  display: flex;
  justify-content: center;
}

.newCalendarContainer h2 {
  margin: 0 0 30px 0;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
  color: #FA6E59;
}

.newCalendarContainer h1,h2 {
  text-transform: uppercase;
}

.formGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

#col1{
  grid-area: 1/1/5/3;
}

#col2{
  grid-area: 1/3/5/5;
}

#addAnother {
  margin: auto;
  margin-top: 20px;
  margin-right: 65px;
  font-size: 12px;
  display: flex;

}

#gotoCalendar {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}




/* Main Calendar styling
================================================================================*/

.calendarContainer{
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  height: auto;
}

.calendarContainer button {
  margin: 0 auto;
  margin-left: 3px;
}

td {
  background: none;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;
}

.fc-left h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3.5em;
}

.fc-center div {
  margin-top: 10px;
}

.fc-right div {
  margin-top: 10px;
}

.fc-right > button .fc-today-button {
  margin-top: 10px;
}

th {
  padding: 20px;
  background-color: #FA6E59;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 2em;
}


/* Sidebar styling
================================================================================*/


#sidebar {
  background-color: #4897D8 !important;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column;
}

#sidebar h3 {
  margin: 0 auto;
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

#sidebar ul {
  font-size: 1.2em;
  font-weight: 100;
  color: white;
}

#sidebar button {
  margin: 5px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: "Roboto";
  font-weight: 100;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: #FA6E59;
  text-transform: uppercase;
  transition: 0.5s;
  cursor:pointer;
}


/* ChatRoom Styling
================================================================================*/

.chatroomContainer {
  margin: 0 auto;
  position: relative;
  max-height: 500px;
  max-width: 900px;
  background-color: #E5E5E5;
}

.chatroomContainer h3 {
  margin: 0;
  padding: 20px;
  font-size: 2.5em;
  font-weight: 100;
  color: black;
  background-color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-self: center;
}


#messageForm {
  padding: 0;
  position: relative;
  grid-area: 4/1/5/5;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.form-group {
  padding: 0;
  position: relative;
  grid-area: 4/1/5/5;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.form-group{
    border:0;padding:10px;background:whitesmoke;
}

.form-control{
  margin: 0 auto;
}

#message {
  width: 600px;
  background: whitesmoke;
  border: none;
}

.sendMessage {
  margin: 10px;
  height: auto;
  width: fit-content;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: "FontAwesome";
  font-weight: 100;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: #4897D8;
  transition: 0.5s;
  cursor:pointer;
}

.backToCalendar {
  margin: 10px;
  height: auto;
  width: fit-content;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: "FontAwesome";
  font-weight: 100;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: #4897D8;
  transition: 0.5s;
  cursor:pointer;
}

input[type="submit"] {
    font-family: FontAwesome;
}

#transcript {
  height: 400px;
  width: 100%;
  position: relative;
  bottom: 0;
  overflow: scroll;

}

#transcript p {
  margin: 10px;
  height: auto;
  width: fit-content;
  max-width: 500px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-radius: 28px;
  font-family: "Roboto";
  font-weight: 100;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: #4897D8;
  transition: 0.5s;
  cursor:pointer;
}












/*.*/
