/* This comment was made by Justin. EAT IT. */
/*new mahi */
body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}
#usr{
	width: 400px;
}

.pwd{
	margin-left: 40px;
}
#butt1{
	background-color: blue;
	color: #fff;
	margin-top: 100px;
	border-radius: 12px;
}
#butt2{
	background-color: blue;
	color: #fff;
	margin-top: 100px;
	width: 120px;
	height: 30px;
	border-radius: 12px;
}
body{
	background-color: grey;}